.dino-figure {
  padding-top: (3 / 4) * 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.dino-figure--inner {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}