//Fonts
$title-font: 'Ravi Prakash', cursive;
$title-font2: 'Bungee Inline', cursive;
$standard-font: 'Roboto', sans-serif;
$font-size--large: 3rem;
$font-size: 1rem;

// colors
$color-primary: black;
$color-jurassic-sundown: linear-gradient(0deg, yellow, #e62617 100%);

// layout
$margin-default: 1rem;
$page-breakpoint-small: 640px;
$page-breakpoint-medium: 1000px;
$page-breakpoint-large: 1200px;