// Header 
$header-height: 80px;
$header-height--scrolling: 60px;

nav {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 11;
  background-color: black;
  border-bottom: 1px solid yellow;
  color: white;
  height: $header-height--scrolling;
  * {
    color: white;
    fill: white;
  }
  h1 {
    display: inline-block;
    margin: 0;
  }

  .nav-wrap {
    height: 100%;
  }
}



button {
  background: none;
  border: none;
  box-shadow: none;
}

