<h1 class="dino-title">
    <button class="nav-button" (click)="firstPage()" tabindex="0" aria-label="Previous page navigation">
        <span class="u-display--none">First page</span>
        <i class="material-icons">face</i>
    </button>
    <button class="nav-button" (click)="prevPage()" tabindex="0" aria-label="Previous page navigation">
        <span class="u-display--none">Previous page</span>
        <i class="material-icons">face</i>
    </button>
    {{title}}
    <button class="nav-button" (click)="nextPage()" tabindex="0" aria-label="Next page navigation">
        <span class="u-display--none">Next page</span>
        <i class="material-icons">face</i>
    </button>
    <button class="nav-button" (click)="lastPage()" tabindex="0" aria-label="Previous page navigation">
        <span class="u-display--none">Last page</span>
        <i class="material-icons">face</i>
    </button>
</h1>